// This is my imports
@import 'variables';
@import 'mixins';

// ######################################################################################

// This is the SASS stylesheet
*{
    margin: 0;
}

// This is the grid container
.grid-container{
    display: grid;
    grid-template-areas: 'home_section home_section home_section'
    'sidebar mainContent leftbar';
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 20px;
}

// This is the main header
.mainHeader{
    grid-area: home_section;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    color: white;
    
    h1{
        font-size: 5em;
        margin-left: 10%;
        margin-top: 5%;
        border-bottom: 2px solid white;
        width: 0%;
        transition: linear 1s;
    }

    h3{
        margin-left: 12%;
        margin-top: 2%;
        font-size: 2em;
        width: 0%;
        transition: linear 1s;
        border-bottom: 2px solid white;
    }
    .inviText{
        color: transparent;
    }

    .navbar{
        background: white;
        padding: 20px;
        position: sticky;
        top: 100vh;
        text-align: center;
        z-index: 100;

        a{
            color: #7F7FD5;
            text-decoration: none;
            margin-left: 40px;
            font-size: 1.5em;
            transition: all ease-out 0.3s;
            border-bottom: 1px solid transparent;

            &:hover{
                color: $navHover;
                border-color: $navHover;
            }
        }
    }
}

#side_bar{
    grid-area: sidebar;
    border: $borderSettings;
    margin-left: 100px;
}

#main_content{
    margin-top: 100px;
    grid-area: mainContent;
    height: 100%;
    border: $borderSettings;
    display: grid;
    grid-template-areas: 'box1Pic box2Pic'
    'box1Info box2Info'
    'box3Pic box4Pic'
    'box3Info box4Info'
    'box5Pic box6Pic'
    'box5Info box6Info'
    ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;

    a{
        color: white;
        text-decoration: none;
    }
}

#left_bar{
    grid-area: leftbar;
    margin-right: 100px;
    border: $borderSettings;
}

#box1Pic{
    grid-area: box1Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxHtmlHead{
        @include rightImgHeader;
    }
    #boxHtmlImg{
        background: url('../images/html.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box1Info{
    @include boxInfo;
    height: 400px;
}

#box2Pic{
    grid-area: box2Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxCssHead{
        @include leftImgHeader;
    }
    #boxCssImg{
        background: url('../images/css.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box2Info{
    @include boxInfo;
    height: 400px;
}

#box3Pic{
    grid-area: box3Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxGridHead{
        @include rightImgHeader;
    }
    #boxGridImg{
        background: url('../images/grid.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box3Info{
    grid-area: box3Info;
    @include boxInfo;
    height: 120px;
}

#box4Pic{
    grid-area: box4Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxRespHead{
        @include leftImgHeader;
    }
    #boxRespImg{
        background: url('../images/resp.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box4Info{
    grid-area: box4Info;
    @include boxInfo;
    height: 120px;
}

#box5Pic{
    grid-area: box5Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxSassHead{
        @include rightImgHeader;
    }
    #boxSassImg{
        background: url('../images/sass.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box5Info{
    grid-area: box5Info;
    @include boxInfo;
    height: 120px;
}

#box6Pic{
    grid-area: box6Pic;
    border: $borderSettings;
    @include headerSettings;

    #boxJsHead{
        @include leftImgHeader;
    }
    #boxJsImg{
        background: url('../images/comingsoon.jpg');
        @include BackgroundImgSettings;
        height: 85.5%;
    }
}

#box6Info{
    grid-area: box6Info;
    @include boxInfo;
    height: 120px;
}