h1{
  max-width: 99%;
  margin-top: 0;
  text-align: center;
  padding: 20px;
  background-color: #05b2dc;
  color: white;
  border-radius: 5px;
}

body{
  background-color: #f2f2f2;
}

footer{
  position: sticky;
  text-align: center;
  bottom: 0px;
  padding: 20px;
  color: white;
  background-color: #05b2dc;
  max-width: 99%;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 75px;
}

/* MAIN BOX THAT CONSISTS OF 2 OTHER BOXS */
#box_main{
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  width: 60%;
  max-width: 60%;
  padding: 10px;
  margin-left: 50px;
  display: block;
  height: 99%;
}

/* THIS IS BOX ONE THAT CONTAINS THE LABELS */
#box1{
  margin-left: 40px;
  border: 1px solid white;
  width: 25%;
  max-width: 25%;
  display: inline-block;
  letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
}

/* THIS IS BOX ONE THAT CONTAINS THE INPUTS */
#box2{
  margin-left: 40px;
  border: 1px solid white;
  width: 40%;
  max-width: 40%;
  display: inline-block;
}

/* BUTTON SETTINGS */
button{
  margin-left: 170px;
  font-size: 16px;
  padding: 14px 25px;
  background-color: #0ec4ce;
  border: 1px solid #0ec4ce;
  border-radius: 5px;
}

h2{
  margin-left: 100px;
  font-family: 'Dosis', sans-serif;
}

ul label{
  font-size: 18px;
}

ul, input{
  width: 250px;
  height: 20px;
}

ul, input:focus{
  font-size: 16px;
  background-color: #e2e2e2;
}

/* THE TEXT INSIDE THE INPUT BOXES */
::placeholder{
  color: #0cc921;
}

/* THE EVERYTHING CLASS (CONTAINS EVERYTHING) */
.container{
  max-width: 70%;
  margin-left: 200px;
  background-color: orange;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
}

/* GREEN BOX NOTE */
.note{
  font-size: 20px;
}

/* NEWSPAPER IMAGE */
.new_img{
  width: 20%;
  height: 20%;
  position: absolute;
  right: 100px;
  top: 200px;
}

/* LINK */
.link_web{
  margin-left: 155px;
  top: -10px;
  font-size: 18px;
}

/* ALL LINK SETTING */
a:link{
  color: #0ec4ce;
}
a:visited{
  color: #0ec4ce;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
  color: #0cc921;
}
